<div class="small-12 large-6 columns">

<h1>Shortcut operators</h1>


<p>It's time for the next set of operators that make a developer's life easier.</p>

<p>Very often, we want to use one and the same variable both to the right and left sides of the <code>=</code> operator.</p>

<p>For example, if we need to calculate a series of successive values of powers of 2, we may use a piece like this:</p>

<code class="codep ">x = x * 2</code>

<br>

<p>You may use an expression like this if you can't fall asleep and you're trying to deal with it using some good, old-fashioned methods:</p>

<code class="codep ">sheep = sheep + 1</code>

<br>

<p>Python offers you a shortened way of writing operations like these, which can be coded as follows:</p>



```
x *= 2
sheep += 1
```
<br>

</div>

<div class="small-12 large-6 columns">

<h1></h1>

<p>Let's try to present a general description for these operations.</p>

<p>If <code>op</code> is a two-argument operator (this is a very important condition) and the operator is used in the following context:</p>

<code class="codep ">variable = variable <mark style="background-color:#e6f2ff;">op</mark> expression</code>

<br>

<p>It can be simplified and shown as follows:</p>

<code class="codep ">variable <mark style="background-color:#e6f2ff;">op</mark>= expression</code>

<br>


<p>Take a look at the examples below. Make sure you understand them all.</p>


<p><code>i = i + 2 * j</code>   ⇒   <code>i <mark style="background-color:#e6f2ff;">+=</mark> 2 * j</code></p>
<p><code>var = var / 2</code>   ⇒   <code>var <mark style="background-color:#e6f2ff;">/=</mark> 2</code></p>
<p><code>rem = rem % 10</code>   ⇒   <code>rem <mark style="background-color:#e6f2ff;">%=</mark> 10</code></p>
<p><code>j = j - (i + var + rem)</code>   ⇒   <code>j <mark style="background-color:#e6f2ff;">-=</mark> (i + var + rem)</code></p>
<p><code>x = x ** 2</code>   ⇒   <code>x <mark style="background-color:#e6f2ff;">**=</mark> 2</code></p>

<br>

</div>

## Comparison Operators
[Python Comparison Operators- W3School](https://www.w3schools.com/python/python_operators.asp#:~:text=Python%20Comparison%20Operators)

In [1]:
print(2==3)

False

In [2]:
print(2==2)

True

In [3]:
my_number = 60
print(my_number==60)
print(my_number==62)

True
False

In [4]:
print(my_number>60)

False

In [5]:
print(my_number>59)

True

In [ ]:
print(my_number<96)

In [ ]:
print(my_number>=60)

In [ ]:
print(my_number<=60)

In [8]:
temperature = 19
print(temperature>20)

False

#### not equal operator

In [6]:
print(2 != 3)

True

In [9]:
print(temperature != 20)

True

In [ ]:
print(temperature != 19)

##### Exercise: Take two number from a user, compare and return result.

In [ ]:
number1 = float(input("Please enter a number:"))
number2 = float(input("Please enter a number:"))
print(number1, "is greater than", number2, number1>number2)
print(number1, "is less than", number2, number1<number2)
print(number1, "is equal to", number2, number1==number2)

# Over to you - Exercise - Lab

Using one of the comparison operators in Python, write a simple two-line program that takes the parameter n as input, which is an integer, and prints False if n is less than 100, and True if n is greater than or equal to 100.

## Solution

In [10]:
n = int(input("Enter a number: "))
print(n >= 100)

Enter a number: 10
False

# If Statement

[Python Flow Control - If Statements](https://www.toppr.com/guides/python-guide/tutorials/python-flow-control/if-elif-else/python-if-if-else-if-elif-else-and-nested-if-statement/
)

You can also watch the videos and Follow along.

In [ ]:
number1 = float(input("Please enter a number:"))
number2 = float(input("Please enter a number:"))

if number2>number1:
    print(number2, "is greater than", number1)

In [ ]:
number1 = float(input("Please enter a number:"))
number2 = float(input("Please enter a number:"))

if number2>number1:
    print(number2, "is greater than", number1)
else:
    print(number2, "is not greater than", number1)

In [ ]:
# Read two numbers
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))

# Choose the larger number
if number1 > number2:
    larger_number = number1
else:
    larger_number = number2

# Print the result
print("The larger number is:", larger_number)

In [ ]:
# Read two numbers
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))

# Choose the larger number
if number1 > number2:
    print("The larger number is:", number1)

elif number2 > number1:
    print("The larger number is:", number2)

#elif :
#elif:

else:
    print(number1, "is equal to", number2)

You can add more elif conditions. But only 1 "if" and 1 "else".

#### Python Program to Check if a Number is Positive, Negative or Zero:

In [ ]:
num = float(input("Enter a number: "))


if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

### While Loop

In [11]:
i = 1
while i<6:
    print(i)
    i +=1

1
2
3
4
5

Write a code to print all even numbers from 0 to 100.

In [ ]:
my_number = 0
while my_number<=100:
    print(my_number)
    my_number +=2 #my_number = my_number +2

Write a code to print all number from 0 to 100 which divisible by 7. Hint: use if statement

In [ ]:
my_number = 0
while my_number<=100:
    if my_number%7 == 0:
        print(my_number)
    my_number +=1

## For Loop

In [ ]:
print("banana", "apple", sep=",")

In [ ]:
fruits = ["apple", "banana", "berry"]
for x in fruits:
    print(x, end=".")

In [ ]:
for x in "banana":
    print(x)

In [ ]:
for x in "Yusuf":
    print(x, end="-")

In [ ]:
for x in 12345:
    print(x+1)

In [ ]:
print("Numbers from 1 to 50:")
for n in range(1, 51):
    print(n, end=" ")

Write a code to print all even numbers from 0 to 100. (use step argument)

In [ ]:
print("Even numbers from 0 to 100:")
for n in range(0, 101, 2):
    print(n, end=" ")

Write a code to print all number from 0 to 100 which divisible by 7

In [ ]:
print("Multiples of 7 from 0 to 100:")
for n in range(0, 101, 7):
    print(n, end=" ")

Write a code to print all odd numbers from 0 to 100. (use step argument)

In [ ]:
print("Odd numbers from 1 to 100:")
for n in range(1, 101, 2):
    print(n, end=" ")

In [ ]:
for n in range(0, 101):
    if n % 3 == 0 and n % 5 == 0:
        print("FizzBuzz")
    elif n % 3 == 0:
        print("Fizz")
    elif n % 5 == 0:
        print("Buzz")
    else:
        print(n)

In [ ]:
#Task to print fizz or buzz or fizzbuzz

for n in range(1,101):
    if n%3==0 and n%5==0:
        print("\n",n,"-FizzBuzz", end="")
    elif n%3==0:
        print("\n",n,"-Fizz",end="")
    elif n%5==0:
        print("\n",n,"-Bizz",end="")
    else:
        print("\n",n,end=" ")

In [ ]:
for num in range(1,101):
    string = ""
    if num % 3 == 0:
        string = string + "Fizz"
    if num % 5 == 0:
        string = string + "Buzz"
    if num % 5 != 0 and num % 3 != 0:
        string = string + str(num)
    print(string)

## Collection Types in Python

### List

In [ ]:
mylist = ["apple", "banana", "cherry"]

word = "happy"
mylist2 = list(word)


print(mylist)
print(mylist2)

In [ ]:
print(type(mylist))

In [ ]:
print(type(mylist2))

In [ ]:
age = 32
mylist3 = list(age)

In [ ]:
age = [32]
print(type(age))

In [ ]:
customer_info = ["Mr.X", 22, "UK", "12/05/2001", 1.65]
print(customer_info)

In [ ]:
customer_info

#### Indexing List

In [ ]:
mylist1 = ["a", "b", 10, 20];

mylist2 = [1, 2, 3, 4, 5, 6, 7 ];

print("mylist1[1]: ", mylist1[1])

print ("mylist2[1:5]: ", mylist2[1:5])

how to get [2, 3, 4, 5] using negative indexing

In [ ]:
print(mylist2[-4:-2])

mylist2 = [1, 2, 3, 4, 5, 6, 7 ];
          -7 -6 -5 -4 -3 -2 -1

In [ ]:
print ("mylist2[1:5]: ", mylist2[-6:-2]) #last index in range -2 will not be printed

In [ ]:
#What will be the output?
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]
some_nums = nums[2:7]
print(some_nums)

In [ ]:
#Complete the code.

nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]

print(nums[0:4])


#Output:
#10, 20,30,40

In [ ]:
thislist = ["apple", "banana", "cherry"]

print(thislist)

thislist[1] = "blackcurrant"

print(thislist)

In [ ]:
thislist[3]="watermelon"

print(thislist)

In [ ]:
thislist.append("orange")

print(thislist)

In [ ]:
print(thislist)

In [ ]:
thislist.insert(2, "watermelon")

print(thislist)

In [ ]:
thislist.sort()

In [ ]:
print(thislist)

In [ ]:
thislist.insert(5,"kiwi")

In [ ]:
print(thislist)

In [ ]:
thislist.insert(8,"kiwi")

In [ ]:
print(thislist)

In [ ]:
thislist.insert(7,"kiwi")

In [ ]:
thislist.reverse()

In [ ]:
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

thislist.pop(1)

print(thislist)

#### Exercise: Using the created above (thislist) add 5 more items into this list and then remove index from 2:5..

In [ ]:
thislist = ["apple", "banana", "cherry"]
print("List before adding")
print(thislist)


thislist.append(["orange", "grape", "kiwi", "melon", "pear"])



print("List after adding 5 more items:")
print(thislist)



print("List after removing element at index 1:")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]

newlist = ["mango","orange","plum","pineapple", "peach"]

thislist.extend(newlist)

print(thislist)

del thislist[2:5]

print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print("Original list:", thislist)



print("After removing index 1:", thislist)

#thislist.pop(2:5) this will give error. pop method gets only 1 index value

thislist.append(["orange", "grape", "mango", "pineapple", "kiwi"])
print("After adding 5 items:", thislist)
thislist = thislist[:2] + thislist[5:]
print("After removing items from index 2 to 4:", thislist)

print(thislist)

### Tuple

In [ ]:
mytuple = ("apple", "banana", "cherry")

print(mytuple)

print("1st index in mytuple:", mytuple[1])

#Write a code to display last item in mytuple.

In [ ]:
#[10:05] Rahana Begum

mytuple = ("apple","banana","cherry")

print (mytuple)

print("1st index in mytuple:", mytuple[2])

In [ ]:
print("Last index in my tuple:", mytuple[-1])

In [ ]:
print("last index in mytuple:", mytuple[2])

In [ ]:
#[10:06] Georgi Zlatev

print(mytuple[-1])

In [ ]:
tuple_1 = (1, 2, 4, 8)
tuple_2 = 1., .5, .25, .125
print(tuple_1)
print(tuple_2)

In [ ]:
my_tuple = (1, 10, 100, 1000)

print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:])
print(my_tuple[:-2])

for elem in my_tuple:
    print(elem)

for abc in my_tuple:
    print(abc)

In [ ]:
my_tuple = (1, 10, 100)

t1 = my_tuple + (1000, 10000)

t2 = my_tuple * 3

print(t2)
print(len(t2))
print(t1)

print(10 in my_tuple)
print(-10 not in my_tuple)

In [ ]:
print(len("my name is Yusuf"))

In [ ]:
my_tuple = (101, 10, 100)


print(my_tuple)

### Set

In [ ]:
mySet= {"apple", "banana", "cherry"}

print(mySet)

In [ ]:
print(mySet[1])

In [ ]:
mySet2= {"apple", "banana", "cherry", "apple", "banana"}

print(mySet2)

### Dictionary

In [ ]:
mydict = {"brand": "Ford", #brand:key and ford:value
          "model": "Mustang",
          "year": 1964}
print(mydict)

In [ ]:
print(mydict.get("brand"))

In [ ]:
print(mydict.get("year")) #access 1964

In [ ]:
print(mydict.get(1)) #access 1964

In [ ]:
print(mydict.get("Ford"))

In [ ]:
dictionary = {"cat": "chat", "dog": "chicken", "horse": "cheval"}

phone_numbers = {'boss': 5551234567, 'Suzy': 22657854310}

empty_dictionary = {}

print(dictionary)
print(phone_numbers)
print(empty_dictionary)

In [ ]:
print(dictionary.keys())

In [ ]:
print(dictionary.values())