## Exercise 1: Sales Data

In [ ]:
# All imports
import pandas as pd

Q1. Import the Sales data

In [ ]:
# Read file

sales = pd.read_csv('sales.csv')
sales

NameError: name 'pd' is not defined

Q2. Read file and set 1st two columns as index

In [ ]:
# Read file and set 1st two columns as index
sales = pd.read_csv('sales.csv', index_col = [0,1])

sales

                                No_of_Orders      Profit       Sales
Market       Region
Africa       Western Africa              251  -12,901.51   78,476.06
             Southern Africa              85   11,768.58   51,319.50
             North Africa                182   21,643.08   86,698.89
             Eastern Africa              110    8,013.04   44,182.60
             Central Africa              103   15,606.30   61,689.99
Asia Pacific Western Asia                382  -16,766.90  124,312.24
             Southern Asia               469   67,998.76  351,806.60
             Southeastern Asia           533   20,948.84  329,751.38
             Oceania                     646   54,734.02  408,002.98
             Eastern Asia                414   72,805.10  315,390.77
             Central Asia                 37   -2,649.76    8,190.74
Europe       Western Europe              964   82,091.27  656,637.14
             Southern Europe             338   18,911.49  215,703.93
             Northern Europe             367   43,237.44  252,969.09
             Eastern Europe              241   25,050.69  108,258.93
LATAM        South America               496   12,377.59  210,710.49
             Central America             930   74,679.54  461,670.28
             Caribbean                   288   13,529.59  116,333.05
USCA         Western US                  490   44,303.65  251,991.83
             Southern US                 255   19,991.83  148,771.91
             Eastern US                  443   47,462.04  264,973.98
             Central US                  356   33,697.43  170,416.31
             Canada                       49    7,246.62   26,298.81

Q3. Display first 3 land last 3 rows of the sales dataframe

In [ ]:
sales.head(3)

                        No_of_Orders    Profit     Sales
Market Region
Africa Western Africa            251 -12901.51  78476.06
       Southern Africa            85  11768.58  51319.50
       North Africa              182  21643.08  86698.89

In [ ]:
sales.tail(3)

                   No_of_Orders    Profit      Sales
Market Region
USCA   Eastern US           443  47462.04  264973.98
       Central US           356  33697.43  170416.31
       Canada                49   7246.62   26298.81

Q4. Display the information about the data stored in data frame

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 23 entries, ('Africa', 'Western Africa') to ('USCA', 'Canada')
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No_of_Orders  23 non-null     int64
 1   Profit        23 non-null     float64
 2   Sales         23 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 932.0+ bytes

Q5. Display the statistical information about the data in dataframe

In [ ]:
sales.describe()

       No_of_Orders        Profit          Sales
count     23.000000     23.000000      23.000000
mean     366.478261  28859.944783  206285.108696
std      246.590361  27701.193773  160589.886606
min       37.000000 -16766.900000    8190.740000
25%      211.500000  12073.085000   82587.475000
50%      356.000000  20948.840000  170416.310000
75%      479.500000  45882.845000  290182.375000
max      964.000000  82091.270000  656637.140000

Q6. Display the sales column as a series.

In [ ]:
sales["Sales"]

Q7. Display sales and profit column as a dataframe

In [ ]:
sales[["Sales", "Profit"]]

Q8. Display the data for Southern Asia

In [ ]:
sales.loc["Southern Asia"]

Q9. Display Sales and Profit data for Western Africa Southern Africa and North Africa

In [1]:
sales.loc[["Western Africa", "Southern Africa", "North Africa"] , ["Sales", "Profit"]]
sales.iloc[0:3, 2:4]

NameError: name 'sales' is not defined

Q10. Display Markets with Sales >300000

In [ ]:
sales["Sales"] > 300000